<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Controller
        </title>
    </head>
    <body>
        <form method='post' action='/led/0'>
            <button type='submit'>Toggle LED 0</button>
        </form>
        <form method='post' action='/led/1'>
            <button type='submit'>Toggle LED 1</button>
        </form>
        <form method='post' action='/led/2'>
            <button type='submit'>Toggle LED 2</button>
        </form>
        <form method='post' action='/ldr'>
            <button type='submit'>Toggle LDR</button>
        </form>
    </body>
</html>